.Free_Quotation_wrap {
margin-top: 10px;
margin-bottom: 20px;
border: 1px solid #168acc;
padding: 7px;
width: 254px;
margin-right: 20px;
background: #eee;
border-radius: 10px;
}

.Free_Quotation_wrap_ {
margin-top: 10px;
margin-bottom: 20px;
border: 1px solid #168acc;
padding: 7px;
width: 254px;
margin-right: 20px;
background: #eee;
border-radius: 10px;
}
 
.Free_Quotation_remove{
background-image: url('../images/delete.gif');
width:16px;
height:16px;
} 
 
.Free_Quotation_header{
background-image: url('../images/Free_Quotation_60.png');
width: 58px;
height: 63px;
float: left;
margin-right: 20px;
margin-top: -7px;
} 

.Free_Quotation_wrap2{
margin-top:10px;
padding-bottom:0px;
padding-right:0px;
min-width: 400px;
width: auto;
margin-right: 20px;
display:block;
}
 
.Free_Quotation_wrap3{
min-width: 400px;
width: auto;
margin-right: 20px;
}


.Free_Quotation_wrap4{
margin-top:10px;
border: 1px solid #FEDB88;
padding: 15px;
min-width: 400px;
width: auto;
margin-right: 20px;
background: #FFFFF1;
border-radius: 10px;}

.Free_Quotation_wrap4 h4{
margin: 0px;
}

.Free_Quotation_wrap4 ul{
list-style-type:disc;
margin: 0px;
margin-left:25px;
}
